@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$site-width: 900px;
$site-min-width: 320px;
$site-header-height: 80px;
$site-footer-height: 100px;

$font-default: Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
$font-open-sans: 'Open Sans', sans-serif;

$color-black: #222222;
$color-white: #ffffff;
$md-indigo-800: #283593;
$md-grey-100: #f5f5f5;


/*
 * Normalize
 */

html,
body {
  height: 100%;
}

body,
button,
input,
select,
textarea {
  font-size: 14px;
  line-height: 1.6;
  font-family: $font-default;
  color: $color-black;
}

* + html body {
  font-family: メイリオ, Meiryo;
}

body {
  background: #fefefe;
  padding-top: $site-header-height;
}

a {
  color: #444444;
  text-decoration: none;
}

button,
input,
select,
textarea,
a:active,
a:focus {
  outline: none;
}

textarea {
  resize: none;
}

/*
 * Outline
 */

#site-outline {
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}


/*
 * Header
 */

#site-header-outline {
  width: 100%;
  min-width: $site-min-width;
  height: $site-header-height;
  line-height: 1;
  background: #fefefe;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#site-header {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  max-width: $site-width;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

#site-title {
  line-height: $site-header-height;
  margin: 0;
  a {
    color: #444444;
    font-size: 28px;
    font-family: $font-open-sans;
    font-weight: 300;
    -webkit-transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    &:hover {
      color: #1e90ff;
    }
  }
}

#site-navigation {
  flex: 1;
  margin-left: 20px;
  ul {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    line-height: 80px;
    list-style-type: none;
    padding: 0px;
    li {
      a {
        display: block;
        color: #333333;
        padding: 0 20px;
        font-weight: 500;
        text-decoration: none;
        vertical-align: middle;
        i {
          vertical-align: middle;
          margin-right: 0.5em;
        }
        &:hover {
          color: #1e90ff;
        }
      }
    }
  }
}


/*
 * Hero
 */

#site-hero-outline {
  width: 100%;
  min-width: $site-min-width;
  background: $md-indigo-800;
}

#site-hero {
  display: flex;
  margin: 0 auto 20px;
  padding: 40px;
  max-width: $site-width;
  box-sizing: border-box;
  color: $color-white;
  h2 {
    font-size: 2em;
  }
  h2 small {
    color: #f8f8f8;
    font-size: 65%;
    margin-left: 0.4em;
  }
  a {
    color: $md-grey-100;
  }
}

#icon {
  width: 180px;
  height: 180px;
  border: 6px solid $md-grey-100;
  border-radius: 94px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
}

#profile {
  margin-left: 40px;
  dl {
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    dt {
      font-size: 16px;
      line-height: 1.6;
      margin: 0.5em 1em;
      clear: left;
      float: left;
    }
    dd {
      float: left;
      margin: 0.5em 0;
    }
    dd + dd:before {
      content: ",";
      margin-right: 0.5em;
    }
  }
}


/*
 * Main
 */

#site-main-outline {
  width: 100%;
  min-width: $site-min-width;
  padding-bottom: $site-footer-height;
}

#site-main {
  h1,
  h2,
  h3 {
    display: block;
    font-weight: normal;
    font-family: $font-open-sans;
  }

  h1 {
    height: 48px;
    line-height: 48px;
    font-size: 24px;
    border-bottom: 1px solid #dddddd;
    padding-left: 20px;
  }

  h2 {
    display: block;
    font-size: 24px;
    line-height: 32px;
  }

  h3 {
    font-size: 16px;
    line-height: 28px;
  }
}


/*
 * Content
 */

.container {
  max-width: 880px;
  margin: 20px auto;
}

.content {
  margin: 30px;
}

/*
 * Works
 */

.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  list-style-type: none;
  li {
    width: 400px;
    border: 1px solid #f8f8f8;
    position: relative;
    box-sizing: border-box;
    &:nth-child(2n+1) {
      margin-right: 20px;
    }
    &:nth-child(n+3) {
      margin-top: 20px;
    }
    a {
      display: block;
    }
  }

  .work-info {
    width: 100%;
    padding: 15px;
    background: rgba(16, 21, 58, 0.9);
    color: $color-white;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    transition: all 0.35s ease-in-out;
  }

  li a:hover .work-info {
    background: rgba(16, 21, 58, 0.8);
  }

  .work-title {
    font-size: 20px;
  }

  .work-image {
    display: block;
    width: 100%;
  }
}


/*
 * Links
 */

#links ul {
  padding: 0;
}

#links a {
  font-size: 16px;
  line-height: 2;
}


/*
 * Footer
 */

#site-footer {
  width: 100%;
  padding: 0 20px;
  height: $site-footer-height;
  line-height: $site-footer-height;
  text-align: center;
  clear: both;
  color: #fcfcfc;
  background: #222222;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 979px) {
}

@media screen and (max-width: 880px) {
  .work-list {
    display: block;
    li {
      margin: 0 auto;
      &:nth-child(2n+1) {
        margin-right: auto;
      }
      &:nth-child(n+2) {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #site-header-outline {
    min-width: auto;
    #site-title a {
      font-size: 22px;
    }
  }

  #site-hero {
    padding: 30px;
    #icon {
      width: 130px;
      height: 130px;
      border-width: 4px;
    }
    #profile {
      margin-left: 30px;
    }
  }

  #site-footer {
    min-width: auto;
  }
}

@media screen and (max-width: 579px) {
  #site-navigation {
    ul {
      li {
        a {
          font-size: 0;
          i {
            font-size: 1;
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  body {
    padding-top: $site-header-height - 20px;
  }

  #site-header-outline {
    height: $site-header-height - 20px;
    line-height: $site-header-height - 20px;
    #site-title {
      line-height: $site-header-height - 20px;
    }
    #site-navigation {
      ul {
        line-height: $site-header-height - 20px;
      }
    }
  }

  #site-main-outline {
    padding-bottom: $site-footer-height - 20px;
  }

  #site-hero {
    padding: 20px;
    h2 {
      font-size: 1.5em;
      margin: 0;
      line-height: 80px;
    }

    #icon {
      width: 80px;
      height: 80px;
      border-width: 2px;
    }

    #profile {
      margin-left: 20px;
    }
  }

  .work-list {
    li {
      width: auto;
    }
  }

  #site-footer {
    height: $site-footer-height - 20px;
    line-height: $site-footer-height - 20px;
    min-width: $site-min-width;
  }
}

@media screen and (max-width: 409px) {
  #site-title {
    a {
      display: none;
    }
  }

  #site-hero {
    #profile {
      dl {
        margin-left: -80px;
      }
    }
  }

  #site-navigation {
    margin-left: 0px;
    ul {
      justify-content: space-around;
    }
  }
}
